<a href="https://colab.research.google.com/github/BachtiarDwiRizqianthoro/algoritma-struktur-data/blob/main/Tugas04_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('operasi arimatika')
#menggunakan operasi penjumlahan
a=20 #tipedatainteger
b=30 #tipedatainteger
c=a+b #variabel c = variabel a+b
print ('hasil',a,"+",b,'=',c)
 
#menggunakan operasi pengurangan
a=20 #tipedatainteger
b=30 #tipedatainteger
c=a-b #variabel c = variabel a-b
print ('hasil',a,'-',b,'=',c) 

#menggunakan operasi perkalian 
a=20 #tipedatainteger
b=30 #tipedatainteger
c=a*b #variabel c =variabel a*b
print ('hasil',a,'*',b,'=',c) 

#menggunakan operasi pembagian
a=20 #tipedatainteger
b=30 #tipedatainterger
c=a/b #variabel c=variabel a/b
print ('hasil',a,"/",b,'=',c) 

#menggunakan operasi sisa bagi
a=20 #tipedatainteger
b=30 #tipedatainterger
c=a%b #variabel c=variabel a%b
print ('hasil',a,'%',b'=',c)

#menggunakan operasi pemangkatan 
a=20 #tipedatainterger
b=30 #tipedatainterger
c=a**b #variabel c=variabel a**b
print ('hasil',a,"**",b,'=',c)

In [ ]:
print('operasi penugasan') 
#operasi pengisian
a=10
print(a) 
a=20
print(a) 

#operasi penjumlahan
a=10
print(a) 
a+=20
print(a) 

#operasi pengurangan
a=10
print(a) 
a-=20
print(a) 

#operasi pengkalian
a=10
print(a) 
a/=20
print(a) 

#operasi pembagian
a=10
print(a) 
a*=20
print(a) 

#operasi sisa bagi
a=10
print(a) 
a%=20
print(a) 

#operasi pemangkatan
a=10
print(a) 
a**=20
print(a)

In [ ]:
print('operasi pembanding')
#operasi lebih besar
a=100 #tipedatainteger
b=50 #tipedatainteger
c=a>b
print('apakah a lebih besar dari b:',c) 

#operasi lebih kecil 
a=100 #tipedatainteger
b=50 #tipedatainteger
c=a<b
print('apakah a lebih kecil dari b:',c) 

#operasi sama dengan
a=100 #tipedatainteger
b=50 #topedataineger
c=a==b
print('apakah a sama dengan b:',c) 

#operasi tidak sama dengan
a=100 #tipedatainteger
b=50 #tipedatainteger
c=a!=b
print('apakah a tidak sama dengan;',c) 

#operasi lebih besar sama dengan
a=100 #tioedataiteger
b=50 #tipedatainteger
c=a>=b
print('apakah a lebih besar sama dengan;',c) 

#operasi lebih kecil sama dengan
a=100 #tipedatainteger
b=50 #tipedatainteger
c=a<=b
print('apakah a lebih kecil sam dengan;',c)

In [ ]:
print('operasi Logika') 
#logika AND
a = True
b = False 
c = a and b 
print(c) 

#logika OR
a = True 
b = False 
c = a or b 
print(c) 

#logika not 
a = True 
b = False 
c = not a, not b,
print(c)

In [ ]:
print('operasi input output') 
print('Data Bayi') 
A=input('nama bayi:') 
B=int(input('berat bayi dalam kg adalah:')) 
D=B*10
print('berat bayi dalam Ons adalah:',D)
E=D+30 
print('berat',A,'satu bulan kedepan adalah',E,'Ons')